<%- include("navbar.ejs") %>

<form action="/admin/update_categories" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="category_id"
         value="<%= category_info.category_id %>">

  <div class="container-fluid bg-white p-3">
    <h3>Edit Category</h3>

    <div class="row">

      <div class="col-md-6 mb-3">
        <label>Title</label>
        <input type="text" name="Category_Title"
               value="<%= category_info.category_title %>"
               class="form-control" required>
      </div>

      <div class="col-md-6 mb-3">
        <label>Heading</label>
        <input type="text" name="Category_Heading"
               value="<%= category_info.category_heading %>"
               class="form-control">
      </div>

      <div class="col-md-12 mb-3">
        <label>Description</label>
        <textarea name="Category_Desc"
                  class="form-control"><%= category_info.category_desc %></textarea>
      </div>

      <div class="col-md-6 mb-3">
        <label>Price</label>
        <input type="number" name="Category_Price"
               value="<%= category_info.category_price %>"
               class="form-control">
      </div>

      <div class="col-md-6 mb-3">
        <label>Image</label>
        <input type="file" name="Category_Img" class="form-control">
        <br>
        <img src="/upload/<%= category_info.category_img %>" width="80">
      </div>

      <div class="col-12 text-end">
        <button class="btn btn-success">Update Category</button>
      </div>

    </div>
  </div>
</form>

<%- include("footer.ejs") %>
