<%- include("navbar.ejs") %>

<form action="/admin/edit_tractor_dec" method="post" enctype="multipart/form-data">
    <input type="hidden" name="Tractor_id" value="<%=Tractor_info.id%>">
    <div class="container-fluid bg-white p-3">
        <div class="row">
            <div class="col-12">
                <h3>Edit  Tractor Dec</h3>

            </div>

            <div class="col-md-6 mb-3">
                <label for="tractor_dec_title" class="form-label">Tractor Dec Title</label>
                <input type="text" id="tractor_dec_title" value="<%=Tractor_info.tractor_dec_title%>" name="tractor_dec_title" class="form-control">
            </div>

            
            <div class="col-md-6 mb-3">
                <label for="tractor_dec_price" class="form-label">Tractor Dec Price</label>
                <input type="text" id="tractor_dec_price" value="<%=Tractor_info.tractor_dec_price%>" name="tractor_dec_price" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label for="tractor_dec_img" class="form-label">Tractor Dec Img</label>
                <input type="file" id="tractor_dec_img" name="tractor_dec_img" class="form-control">
            </div>
           
            <div class="col-md-2 mb-3">
                <img src="/upload/<%=Tractor_info.tractor_dec_img%>" width="50%">

            </div>


            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary">Save slider</button>
            </div>
        </div>
    </div>
</form>

<%- include("footer.ejs") %>