
  <%- include("navbar.ejs") %>

<form action="/admin/save_tractor_dec" method="POST" enctype="multipart/form-data" class="w-100">
    <div class="container-fluid bg-white p-3">

        <!-- <a href="/account_list">All Slider</a> -->
        <div class="row">
            <div class="col-12 mb-3">
                <h1>Add Tractor Dec</h1>
            </div>

            <div class="row">
                <!-- Slider Title -->
                <div class="col-md-6 mb-3">
                    <label for="Tractor_Dec_Title">Tractor_Dec Title</label>
                    <input type="text" name="Tractor_Dec_Title" id="Tractor_Dec_Title" class="form-control" required>
                </div>

                <!-- Slider Heading -->
                <div class="col-md-6 mb-3">
                    <label for="Tractor_Dec_Price">Tractor_Dec Price</label>
                    <input type="text" name="Tractor_Dec_Price" id="Tractor_Dec_Price" class="form-control" required>
                </div>

                <!-- Slider Image -->
                <div class="col-md-6 mb-3">
                    <label for="Tractor_Dec_Img">Tractor_Dec Img</label>
                    <input type="file" name="Tractor_Dec_Img" id="Tractor_Dec_Img" accept="image/*" class="form-control">
                </div>

                <!-- Submit Button -->
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">Save Tractor Dec</button>
                </div>
            </div>

        </div>
    </div>
</form>








<!-- table madhe data print  -->
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-md-12">
            <h3>Slider List</h3>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Sr. No.</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Image</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        <% var sr = 1; for (i of tractor_dec) { %>
                        <tr>
                          <td class="text-center">
    <!-- Edit -->
    <a href="/admin/edit_tractor_dec/<%= i.id %>" 
       class="action-btn edit-btn"
       title="Edit Slider">
        <i class="fa-solid fa-pen-to-square"></i>
    </a>

    <!-- Delete -->
    <a href="/admin/delete_tractor_dec/<%= i.id %>" 
       class="action-btn delete-btn"
       title="Delete Slider"
       onclick="return confirm('Are you sure you want to delete this slider?')">
        <i class="fa-solid fa-trash"></i>
    </a>
</td>

                            <td><%-sr++%></td>
                            <td><%-i.tractor_dec_title%></td>
                            <td><%-i.tractor_dec_price%></td>
                           
                            <td><img src="/upload/<%-i.tractor_dec_img%>" width="50px"></td>
                          
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
















<%- include("footer.ejs") %>
