<%- include("../navbar.ejs") %>

<form action="/admin/save_exterior"
      method="POST"
      enctype="multipart/form-data"
      class="w-100">

  <div class="container-fluid bg-white p-3">
    <div class="row">

      <div class="col-12 mb-3">
        <h1>Add Exterior Decoration Accessories</h1>
      </div>

      <div class="col-md-6 mb-3">
        <label>Title</label>
        <input type="text"
               name="exterior_title"
               class="form-control"
               placeholder="Enter title"
               required>
      </div>

      <div class="col-md-6 mb-3">
        <label>Heading</label>
        <input type="text"
               name="exterior_heading"
               class="form-control"
               placeholder="Enter short heading"
               required>
      </div>

      <div class="col-md-6 mb-3">
        <label>Price (₹)</label>
        <input type="number"
               name="price"
               class="form-control"
               required>
      </div>

      <div class="col-md-6 mb-3">
        <label>Image</label>
        <input type="file"
               name="exterior_image"
               class="form-control"
               accept="image/*"
               required>
      </div>

      <div class="col-12 text-end">
        <button class="btn btn-primary">
          Save Exterior Decoration
        </button>
      </div>

    </div>
  </div>
</form>


<!-- TABLE -->

<div class="container-fluid bg-white p-3 mt-4">
  <h3>Exterior Decoration Accessories</h3>

  <table class="table table-bordered table-hover align-middle mt-3">
    <thead class="table-white">
      <tr>
        <th>Action</th>
        <th>Sr.No</th>
        <th>Title</th>
        <th>Heading</th>
        <th>Price</th>
        <th>Image</th>
      </tr>
    </thead>

    <tbody>
      <% if (exterior.length > 0) { %>
        <% exterior.forEach((i, index) => { %>
          <tr>
            
            <td>
             <a href="/admin/edit_exterior/<%= i.exterior_id %>"
   class="btn btn-sm btn-primary mb-1">
   <i class="fa-solid fa-pen-to-square"></i>
</a>

<a href="/admin/delete_exterior/<%= i.exterior_id %>"
   onclick="return confirm('Delete this item?')"
   class="btn btn-sm btn-danger mb-1">
   <i class="fa-solid fa-trash"></i> 
</a>
            </td>

            <td><%= index + 1 %></td>
            <td><%= i.exterior_title %></td>
            <td><%= i.exterior_heading %></td>
            <td>₹ <%= i.price %></td>

            <td>
              <% if (i.exterior_image) { %>
                <img src="/upload/<%= i.exterior_image %>" width="60">
              <% } %>
            </td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="6" class="text-center text-danger">
            No Exterior Items Found
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("../footer.ejs") %>